.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list > li,
.nav-list > li > a,
.nav-list .nav-header {
    margin: 0;
}

.nav-list li > a:focus {
    outline: none;
}

.nav-list > li {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    border-style: solid;
    border-width: 1px 0 0;
}

.nav-list > li:last-child {
    border-bottom-width: 1px;
}

.nav-list > li.active > a {
    font-weight: bold;
}

.nav-list > li > a {
    display: block;
    height: 39px;
    line-height: 39px;
    padding-left: 7px;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none;
}

.nav-list > li > a > .menu-icon {
    display: inline-block;
    min-width: 30px;
    margin-right: 2px;
    vertical-align: sub;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.nav-list > li:before {
    display: none;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    height: 41px;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    background-color: #629cc9;
}

@media only screen and (min-width: 992px) {
    .main-container.container .sidebar:not(.h-sidebar) .nav-list > li:before {
        left: -2px;
    }
}

.main-container.container .sidebar.sidebar-fixed:not(.h-sidebar) .nav-list > li:before {
    left: 0;
}

.nav-list > li:hover:before,.nav-list > li.open:before {
    display: block;
}

.nav-list > li a > .arrow {
    display: block;
    width: 14px !important;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 0;
    text-align: center;
}

.nav-list > li.separator {
    height: 3px;
    background-color: transparent;
    position: static;
    margin: 1px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-list > li.active .submenu {
    display: block;
}

.nav-list > li .submenu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
}

.nav-list > li .submenu > li {
    margin-left: 0;
    position: relative;
}

.nav-list > li .submenu > li > a {
    display: block;
    position: relative;
    padding: 7px 0 9px 37px;
    margin: 0;
    border-top-width: 1px;
    border-top-style: dotted;
}

.nav-list > li .submenu > li > a:hover {
    text-decoration: none;
}

.nav-list > li .submenu > li a > .menu-icon {
    display: none;
    font-size: 12px;
    font-weight: normal;
    width: 18px;
    height: auto;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 11px;
    z-index: 1;
    background-color: inherit;
}

.nav-list > li .submenu > li.active > a > .menu-icon,
.nav-list > li .submenu > li:hover > a > .menu-icon {
    display: inline-block;
}

.nav-list > li > .submenu {
    border-top: 1px solid;
}

.nav-list > li > .submenu > li:before {
    content: "";
    display: block;
    width: 7px;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 17px;
    border: 1px dotted;
    border-width: 1px 0 0;
}

.nav-list > li > .submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 18px;
    top: 0;
    bottom: 0;
    border: 1px dotted;
    border-width: 0 0 0 1px;
}

.nav-list li:hover > a > .arrow,
.nav-list li.active > a > .arrow,
.nav-list li.open > a > .arrow {
    color: inherit;
}

.nav-list li.open > .submenu {
    display: block;
}

no_such_element:-o-prefocus,
.nav-list > li > a > .menu-icon {
    vertical-align: middle;
}

.nav-list > li > .submenu li > .submenu {
    display: none;
}

.nav-list > li > .submenu li.active > .submenu {
    display: block;
}

.nav-list > li > .submenu a > .arrow {
    right: 10px;
    top: 10px;
    font-size: 16px;
}

.nav-list > li > .submenu > li:first-child > a {
    border-top-width: 0;
}

.nav-list > li > .submenu li > .submenu > li {
    line-height: 18px;
}

.nav-list > li > .submenu li > .submenu > li:before {
    display: none;
}

.nav-list > li > .submenu li > .submenu > li > a {
    margin-left: 20px;
    padding-left: 22px;
}

.nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
    margin-left: 20px;
    padding-left: 38px;
}

.nav-list > li > .submenu li > .submenu > li a > .menu-icon {
    display: inline-block;
    width: auto;
    position: static;
    background-color: transparent;
    margin-right: 4px;
    color: inherit;
}

.nav-list > li > .submenu li > .submenu > li a .menu-icon,
.nav-list > li > .submenu li > .submenu > li a .arrow {
    color: inherit;
}

.nav-list > li > .submenu li.open:not(.hover) > a > .menu-icon {
    display: inline-block;
}

.nav-list a .badge,
.nav-list a .label {
    position: absolute;
    top: 9px;
    right: 10px;
    opacity: 0.88;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
}

.nav-list a .badge .ace-icon,
.nav-list a .label .ace-icon {
    vertical-align: middle;
    margin: 0;
}

.nav-list a.dropdown-toggle .badge,
.nav-list a.dropdown-toggle .label {
    right: 26px;
}

.nav-list li:hover > a .badge,
.nav-list li:hover > a .label {
    opacity: 1;
}

.nav-list .submenu .submenu a .badge,
.nav-list .submenu .submenu a .label {
    top: 6px;
}

.no-skin {
}

.no-skin .nav-list .open > a,
.no-skin .nav-list .open > a:hover,
.no-skin .nav-list .open > a:focus {
    background-color: #e8e8e8 !important;
}

.no-skin .nav-list > li {
    border-color: #e5e5e5;
}

.no-skin .nav-list > li > a {
    background-color: #f8f8f8;
    color: #585858;
}

.no-skin .nav-list > li > a:focus {
    background-color: #f8f8f8;
    color: #1963aa;
}

.no-skin .nav-list > li:hover > a {
    background-color: #ffffff;
    color: #266cad;
}

.no-skin .nav-list li.open {
    background-color: #e5e5e5;
}

.no-skin .nav-list > li.open a {
    background-color: #e5e5e5;
    display: block;
    color: #000000;
}

.no-skin .nav-list > li.active > a {
    font-weight: bold;
    color: #444;
}

.no-skin .nav-list > li.active > a,
.no-skin .nav-list > li.active > a:hover,
.no-skin .nav-list > li.active > a:focus {
    background-color: #ffffff;
}

.no-skin .nav-list > li .submenu {

    background-color: #ffffff;
    border-color: #e5e5e5;
    border-left: #719CBD 3px solid;
}

.no-skin .nav-list > li .submenu > li > a {
    border-top-color: #e4e4e4;
    background-color: #ffffff;
    color: #616161;
}

.no-skin .nav-list > li .submenu > li > a:hover {
    color: #4b88b7;
    background-color: #f1f5f9;
}

.no-skin .nav-list > li .submenu > li.active > a {
    color: #2b7dbc;
}

.no-skin .nav-list > li .submenu > li.active > a > .menu-icon {
    color: #c86139;
}

.no-skin .nav-list > li .submenu > li.active.open > a > .menu-icon {
    color: inherit;
}
